@page "/counter"
@using AdventOfBlazor.Puzzles;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="SolveDay1">Solve Day One Part One</button>

<p role="status">Dayone Answer: @partOneResults</p>

@code {
    private int currentCount = 0;

    private string partOneResults = "...";

    private void IncrementCount()
    {
        currentCount++;
    }

    private void SolveDay1()
    {
        partOneResults = new Day1().SolveDayOne(Day1.PUZZLE_INPUT);
    }
}
