@page "/puzzle/{Year:int}/{Day:int}"
@using System.Diagnostics;
@using System.Timers;
@inject NavigationManager NavigationManager

@if (puzzleMetaData == null || puzzle == null)
{
    <h2>Puzzle Not Found</h2>
    <hr />
    <p>Apologies! Either the implementation or metadata for the puzzle could not be found.</p>
}
else
{
    <h2>@puzzleMetaData.Title</h2>
    <hr />
    <p>@puzzleMetaData.Year, Day @puzzleMetaData.Day</p>

    <MudGrid Class="mt-4">
        <MudItem xs="6">
           <PuzzlePart @ref="partOne" Title="Part One" Action="()=> puzzle.PartOne(puzzle.PuzzleInput())"/>
        </MudItem>
        <MudItem xs="6">
            <PuzzlePart @ref="partTwo" Title="Part Two" Action="()=> puzzle.PartTwo(puzzle.PuzzleInput())" />
        </MudItem>
    </MudGrid>

    <UnityApp/>
}

@code {
    [Parameter]
    public int Year { get; set; }

    [Parameter]
    public int Day { get; set; }

    private PuzzlePart? partOne;
    private PuzzlePart? partTwo;

    private IBasicPuzzle? puzzle;

    private string VisUrl = $"{Settings.WEB_PATH_PREFIX}visualisations/2015-01/visualisation.html";

    private PuzzleDataAttribute? puzzleMetaData;

    protected override void OnInitialized()
    {
        ResetState();
    }

    protected override void OnParametersSet()
    {
        ResetState();
        partOne?.RefreshMe();
        StateHasChanged();
    }

    void ResetState()
    {
        puzzle = PuzzleManager.GetPuzzle(Year, Day);
        puzzleMetaData = PuzzleManager.GetPuzzleMetaData(Year, Day);
    }
}
