@page "/puzzle/{Year:int}/{Day:int}"
@using System.Diagnostics;
@using System.Timers;
@inject NavigationManager NavigationManager

@if (puzzleMetaData == null || puzzle == null)
{
    <h2>Puzzle Not Found</h2>
    <hr />
    <p>Apologies! Either the implementation or metadata for the puzzle could not be found.</p>
}
else
{
    <h2>@puzzleMetaData.Title</h2>
    <hr />
    <p>@puzzleMetaData.Year, Day @puzzleMetaData.Day</p>

    <MudGrid Class="mt-4">
        <MudItem xs="6">
           <PuzzlePart Title="Part One" Action="()=> puzzle.PartOne(puzzle.PuzzleInput())"/>
        </MudItem>
        <MudItem xs="6">
            <PuzzlePart Title="Part Two" Action="()=> puzzle.PartTwo(puzzle.PuzzleInput())" />
        </MudItem>
    </MudGrid>
}

<iframe src="/visualisations/2015-01/index.html"></iframe>
@code {
    [Parameter]
    public int Year { get; set; }

    [Parameter]
    public int Day { get; set; }

    private IBasicPuzzle? puzzle;

    private PuzzleDataAttribute? puzzleMetaData;

    protected override void OnInitialized()
    {
        ResetState();
    }

    protected override void OnParametersSet()
    {
        ResetState();
    }

    void ResetState()
    {
        puzzle = PuzzleManager.GetPuzzle(Year, Day);
        puzzleMetaData = PuzzleManager.GetPuzzleMetaData(Year, Day);
    }
}
