
/* Center content */
body {
    background-color: #0f0f23;
    font-family: Source Code Pro, serif;
}

p {
    margin-top: 15px;
}
/* Loading animation */
.loader {
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #0d1117;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Loading text */
.loading-text {
    color: #009900;
    font-size: 24px;
    margin-left: 10px;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}

.loading-text-caption {
    color: #EEEEEE;
    font-size: 12px;
    margin-left: 10px;
}

    .loading-text-caption i {
        color: #EEEEEE;
        font-size: 12px;
    }

.loading-dialog {
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
}

a {
    text-decoration: underline;
    cursor: pointer
}

i {
    color: #ffffff;
    font-size: 32px
}