@page "/about"

<h3><span style="color:white">Hi, I'm John Perrin (PezzA) and welcome to my Advent of Code site!</span></h3>
<p>This website is a kind of 'frontend-for-backend'' for my solutions to <a href="https://adventofcode.com">Advent of Code</a> puzzles.  It's purpose is purely to surface content from the main puzzle library.</p>
<p>There are 2 forms of content.</p>

<p>Firstly, there is the <a href="https://github.com/PezzA/Advent-of-CSharp/blob/master/AdventOfCSharp.Puzzles/Year22/Day01/Puzzle.cs#L3">class attibute</a> based puzzle metadata.  This is just a basic description of the puzzles and status etc...  This drives mainly navigational content such as the puzzle picker below, which is just grouping over the puzzle metadata</p>
<p>
    Then there is the fun bit, <em>the visualisations!</em>
    In AdventOfCode, the themeing of the puzzles is generally very strong and as well as provinding an entertaining scenerio can also distill a particular facet of computer-science or a problem domain that you might not other encounter.  The problems are always backed with simple yet engaging visual aids that outline what the puzzle should be doing to solve the problem.  And quite often as well as seeing that you get the final answer, you want see the code solving the problem.
</p>

<p>What this site does is provide a content pipeline that can take the source code (and I'm using C#) and uses blazor client to produce a static website that is then published using github pages. </p>
<p>For each puzzle that has a visualisation, the code has been through 2 passes.  An intial pass to get it to sput the right answer to get the <MudRating SelectedValue="2" MaxValue="2" ReadOnly="true" Color="MudBlazor.Color.Warning" />s  And then a second often slower pass to refactor that code so that it can support a game-loop based animation.</p>


@code {

}
